@font-face {
    font-family: FirstFont;
    src:url(../font/Vazir-Medium.woff2) format('woff2');
    src:url(../font/Vazir-Medium-FD-WOL.woff2) format('woff2');
  }
* {
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    text-align: right;
    text-decoration:none;
}
html body {
    direction: rtl;
    font-family:FirstFont;
    text-align: center;
    
}

ul li{
    display: inline-block;
    list-style: none;
}

.container1{
    background: linear-gradient(260.06deg, #363671 12.33%, #3E5196 57.46%);
    padding: 25px 50px !important;
}
.header-menu{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.header-menu ul{
    margin-bottom: 0 !important;
}
.header-menu ul li{
    margin-left: 35px;
    
}
.header-menu .btns-ul li{
    margin-left: 10px !important;
}
.header-menu ul li a{
    color: #363671 !important;
    outline: none;
    text-decoration: none;
}
.main-pic-text img{
    width: 580px;
}
.main-pic-text{
    padding-top:30px;
}
.main-pic-text .main-pic1{
    text-align: center;
}
.btns-ul li input{
    filter: drop-shadow(0px 15px 25px rgba(238, 187, 153, 0.3));
    background: linear-gradient(90deg, #EEBB99 0%, #EE537C 100%);
    border-radius: 25px;
    border: 0;
    outline: none;
    width: 130px;
    height: 40px;
    text-align: center;
    color: #fff;
}
.btns{
    position: absolute;
    left: -15px;
    top: 20px;
}
.main-text1 p{
    color: #fff;
}
.main-text1{
    padding-top: 70px;
}
.main-text1 .main-tx1{
    font-size: 50px;
    font-weight: bold;
}
.main-text1 .main-tx2{
    font-size: 20px;
    padding-top: 20px;
}
.btn-free-signup{
    filter: drop-shadow(0px 15px 25px rgba(238, 187, 153, 0.3));
    background: linear-gradient(90deg, #EEBB99 0%, #EE537C 100%);
    border-radius: 25px;
    border: 0;
    outline: none;
    width: 250px;
    height: 45px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
.main-pic-text2 .main-pic2{
    width: 520px;
    position: relative;
    top: 35px;
}
.semicircle{
    width: 100%;
    position: absolute;
    
}

.container2{
    overflow: hidden;
    padding-bottom: 60px;
}
.btn-learn-more{
    border-radius: 25px;
    border: 0;
    outline: none;
    width: 150px;
    height: 35px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    background-color: #EE537C;
}
.main-text2 p,
.main-text3 p{
    color: #3E5196;

}
.main-text2 .main-tx1,
.main-text3 .main-tx1{
    font-size: 30px;
    font-weight: bold;

}
.main-text2 .main-tx2{
    padding-left: 50px;
}
.main-text2 .main-tx2,
.main-text3 .main-tx2{
    font-size: 18px;

}
.main-text3{
    padding-top: 160px;
    /* margin-right: 50px; */
}

.container3{
    background: rgba(62, 81, 150, 0.1);
}
.container3 .col-xl-12{
    display: flex;
}
.container3 img{
    width: 700px;
    margin-top: -50px;
}
.container4{
    background-color: #3E5196;
    color: #fff;

    padding: 30px 50px 15px 50px !important;
}
.media{
    display: flex;
    justify-content: end;
}
.media img{
    width: 40px;
    height: 40px;
}
.media ul li{
    margin-right: 15px;
    margin-top: 15px;
}
.container4 .tx{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.menubar{
    display: none;
    width: 30px;
    height: 30px;
}
.menu-hidden{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100vh;
    background-color: #363671;
    text-align: center;
    /* display: none; */
}
.menu-hidden .col-xl-12{
    margin-top: 100px;
}
.menu-hidden a{
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none !important;
    outline: none !important;
    color: #fff !important;
    font-size: 18px;
    margin-bottom: 20px;
}
.close{
    top: 15px;
    left: 15px;
    position: absolute;
    cursor: pointer;
}
.menu-hidden .signin-btn,
.menu-hidden .signup-btn{
    background: linear-gradient(90deg, #EEBB99 0%, #EE537C 100%);
    border-radius: 25px;
    border: 0;
    outline: none;
    width: 120px;
    height: 30px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    display: block;
}
.main-pic-text2{
    text-align: center;
}
@media(max-width:1199px){
    .semicircle{
        display: none;
    }
   
    .main-text2 p
    {
        padding-right: 50px;
    }
    .main-text2 input{
        margin-right: 50px;
    }
    .main-text3 {
        padding-top: 20px;
    }
}
@media(max-width:790px){
    .container1{
        padding: 25px 30px !important;
    }
    .main-text1 .main-tx2 {
        font-size: 17px;
    }
    .main-text1 .main-tx1 {
        font-size: 40px;
    }
    .container2 p{
        padding-left: 30px;
        padding-right: 30px;
    }
    .main-text3{
        margin-right: 0px;
    }
    .main-text2 input,
    .main-text3 input{
        margin-right: 30px;
    }
    .header-menu ul li {
        margin-left: 15px;
    }
}
@media(max-width:700px){
    .container3 img {
        width: 100%;
        margin-top: -50px;
    }
}
@media(max-width:650px){
    .btns-ul li input{
        width: 95px;
    }
    .header-menu .btns-ul li {
        margin-left: 3px !important;
    }
    .header-menu{
        padding: 30px 15px;
    }
    .btns {
        left: -3px;
    }
}
@media(max-width:612px){
    .main-pic-text2 .main-pic2 {
        width: 90%;
    }
    .main-pic-text img {
        width: 100%;
    }
    .main-text1{
        text-align: center;
        margin-bottom: 25px;
    }
    .main-text2 .main-tx1{
        margin-top: 15px;
    }
    .main-text2,
    .main-text3,
    .main-text2 p,
    .main-text3 p{
        text-align: center;
    }
    .main-text2 input,
    .main-text3 input{
        margin-right: 0px;
    }
    .container4{
        padding: 30px 30px 15px 30px !important;
    }
}
@media(max-width:550px){
    .menubar{
        display: block;
        cursor: pointer;
    }
    .header-menu ul{
        display: none;
    }
    .header-menu{
        width: max-content;
        padding: 15px;
    }
    .main-pic-text{
        padding-top: 0px;
    }
}
@media(max-width:450px){
    .container2 p{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
@media(min-width:1200px){
    .main-text2 .main-tx1{
        margin-top: 200px;
    }
    
}
@media(min-width:790px){
    .main-text3 p{
        padding-right: 50px;
    }
    .main-text3 input{
        margin-right: 50px;
    }
}


