@font-face {
    font-family: FirstFont;
    src:url(../font/Vazir-Medium.woff2) format('woff2');
    src:url(../font/Vazir-Medium-FD-WOL.woff2) format('woff2');
  }
* {
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    text-align: right;
    text-decoration:none;
}
html body {
    direction: rtl;
    font-family:FirstFont;
    text-align: center;
    overflow-x: hidden;
}

ul li{
    display: inline-block;
    list-style: none;
}

.container1{
    background: linear-gradient(260.06deg, #363671 12.33%, #3E5196 57.46%);
    padding: 25px 50px !important;
}
.header-menu{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.header-menu ul{
    margin-bottom: 0 !important;
}
.header-menu ul li{
    margin-left: 35px;
    
}
.header-menu .btns-ul li{
    margin-left: 10px !important;
}
.header-menu ul li a{
    color: #363671 !important;
    outline: none;
    text-decoration: none;
}
.main-pic-text img{
    width: 580px;
}
.main-pic-text{
    padding-top:30px;
}
.main-pic-text .main-pic1{
    text-align: center;
}
.btns-ul li input{
    filter: drop-shadow(0px 15px 25px rgba(238, 187, 153, 0.3));
    background: linear-gradient(90deg, #EEBB99 0%, #EE537C 100%);
    border-radius: 25px;
    border: 0;
    outline: none;
    width: 130px;
    height: 40px;
    text-align: center;
    color: #fff;
}
.btns{
    position: absolute;
    left: -15px;
    top: 20px;
}
.main-text1 p{
    color: #fff;
}
.main-text1{
    padding-top: 70px;
}
.main-text1 .main-tx1{
    font-size: 50px;
    font-weight: bold;
}
.main-text1 .main-tx2{
    font-size: 20px;
    padding-top: 20px;
}
.btn-free-signup{
    filter: drop-shadow(0px 15px 25px rgba(238, 187, 153, 0.3));
    background: linear-gradient(90deg, #EEBB99 0%, #EE537C 100%);
    border-radius: 25px;
    border: 0;
    outline: none;
    width: 250px;
    height: 45px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
.main-pic-text2 .main-pic2{
    width: 520px;
}
.semicircle{
    height: 60%;
    top: -130px;
    z-index: -1;
    margin-right: 50px;
    width: 100%;
    position: relative;
    border-radius: 250px 250px 0 0;
    background-color: #3E5196;
    transform: rotateX(180deg);
}
@media(max-width:1199px){
    .semicircle{
        display: none;
    }
}