.change-password-form{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 500px;
    height: max-content;
    /* text-align: center; */
    padding: 35px 40px;
}
.left-side{
    justify-content: center;
    display: flex !important;
    padding-top: 80px;
}
.change-password-form .title{
    text-align: center;
    font-weight: bold;
    color: #363671;
    font-size: 20px;
}
.change-password-form input[type="text"]{
    border-radius: 25px;
    width: 100%;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    padding: 3px 15px;
    margin-bottom: 30px;
}
.change-password-form input[type="button"]{
    width: 100%;
    outline: none;
    margin-bottom: 30px;
    border: 0;
    text-align: center;
    color: #FFFFFF;
    background: #EE537C;
    border-radius: 25px;
    height: 40px;
}
.save-change-btn:hover{
    background:#d84c71 !important;
    color:#f6f6f6 !important;
}
.change-password-form .top-input{
    margin-bottom: 5px;
    font-size: 15px;
    padding-right: 15px;
    font-weight: bold;
}
@media(max-width:767px){
    .left-side{
        padding-top: 100px;

    }
}
@media(max-width:425px){
    .change-password-form{
        padding:35px 20opx;

    }
}