.main-row-left{
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.teacherlist-left-side{
    height: 100vh !important;
    overflow-y: auto;
}
.search-box{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    height: max-content;
    padding: 0 !important;
}
.line{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
}
.edit-user-profile-form{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    height: max-content;
    padding: 35px 40px;
}
.profile-left{
    padding-left: 30px !important;
}

.search-box input[type="text"]{
    border-radius: 25px;
    width: 100%;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    padding: 3px 15px;
    margin-bottom: 30px;
}
.search-box input[type="text"]:focus{
    border: 1px solid #3E5196;
}
.search-box input[type="button"]{
    width: 100%;
    outline: none;
    margin-bottom: 20px;
    border: 0;
    text-align: center;
    color: #FFFFFF;
    background: #EE537C;
    border-radius: 25px;
    height: 40px;
}
.show-result-btn:hover{
    background:#d84c71 !important;
    color:#f6f6f6 !important;
}
::placeholder {
    color: #3E5196;
    opacity: 0.5;
    font-size: 14px; 
  }
  
:-ms-input-placeholder { 
    color:#3E5196;
    opacity: 0.5;
    font-size: 14px;
}
  
::-ms-input-placeholder { 
    color: #3E5196;
    opacity: 0.5; 
    font-size: 14px;
}