.profile-admin-img{
    width: 115px;
    height: 115px;
    border-radius: 50%;
}
.upload-img-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #16a085;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
    position: relative;
    top: -42px;
    right: 36px;
}
.upload-img-icon img{
    width: 65%;
    height: 65%;
}
#imgInp{
    display: none;
}