@font-face {
    font-family: FirstFont;
    src:url(../font/Vazir-Medium.woff2) format('woff2');
    src:url(../font/Vazir-Medium-FD-WOL.woff2) format('woff2');
  }
* {
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    text-align: right;
    text-decoration:none;
}
html body {
    direction: rtl;
    font-family:FirstFont;
    text-align: center;
    background: linear-gradient(260.06deg, #363671 12.33%, #3E5196 57.46%);
    height: 100vh;
    
}

ul li{
    display: inline-block;
    list-style: none;
}
.signin-form{
    background: #FFFFFF;
    box-shadow: 0px 0px 35px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    padding: 40px 25px !important;
}
.signin-form input[type="text"],
.signin-form input[type="password"]{
    font-size: 15px;
    border-bottom-color: rgb(0, 0, 0,.5) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border: 0;
    outline: none;
    padding: 10px 0;
    
}
#password{
    padding-left: 22px !important;
}
.signin-form img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 15px;
    opacity: .8;
}
.signin-form .row{
    margin-bottom: 25px;
}
#username,
#password{
    width: 94%;
}

.signin-btn-row{
    text-align: left;
}
#btn-signin{
    background: #EE537C;
    box-shadow: 0px 0px 18px #EE537C;
    border-radius: 25px;
    width: 150px;
    height: 45px;
    border: 0;
    outline: none;
    text-align: center;
    color: #fff;
}
#btn-signin:hover{
    background:#d84c71;
    color:#f6f6f6;
}
.btns{
    margin-top: 60px;
}
.forget-pass{
    width: 100%;
    text-align: center;
}
.forget-pass a{
    text-decoration: none !important;
    outline: none !important;
    color: #363671 !important;
    font-size: 16px;
    font-weight: bold;

}
.show-pass,
.hide-pass{
    width: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 5px;
    opacity: 1 !important;
    z-index: 1;
}
.hide-pass{
    display: none;
}
::placeholder {
    color: rgb(0, 0, 0,.5);
    opacity: 0.95; 
  }
  
:-ms-input-placeholder { 
    color: rgb(0, 0, 0,.5);
}
  
::-ms-input-placeholder { 
    color: rgb(0, 0, 0,.5);
}

input[type="text"]:focus,
input[type="password"]:focus{
    border-bottom-color:#EE537C !important;
}
.row1{
    margin-top: 40px;
}
@media(max-width:1259px){
   
    #password,
    #username{
        width: 93%;
    }
}
@media(max-width:1199px){
    #password,
    #username{
        width: 95%;
    }
    
    .signin-form .row{
        margin-bottom:25px;
    }
    
    .btns .col-xl-6{
        text-align: center !important;
    }
    
    .btns input{
        width: 40% !important;
    }
}

@media(max-width:1199px){
    #password,
    #username{
        width: 92%;
    }
    
}
@media(max-width:575px){
    #password,
    #username{
        width: 90%;
    }
    .signin-container{
        padding: 30px 50px !important;
    }
}
@media(max-width:463px){
    #password,
    #username{
        width: 88%;
    }
    .signin-container{
        padding: 20px 35px !important;
    }
    
}
@media(max-width:376px){
    #password,
    #username{
        width: 86%;
    }
    
}
@media(max-width:335px){
    #password,
    #username{
        width: 84%;
    }
    
}