@font-face {
    font-family: FirstFont;
    src:url(../font/Vazir-Medium.woff2) format('woff2');
    src:url(../font/Vazir-Medium-FD-WOL.woff2) format('woff2');
  }
* {
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    text-align: right;
    text-decoration:none;
}
html body {
    direction: rtl;
    font-family:FirstFont;
    text-align: center;
    background: linear-gradient(260.06deg, #363671 12.33%, #3E5196 57.46%);
    height: 100vh;
    
}

ul li{
    display: inline-block;
    list-style: none;
}
.signup-form{
    background: #FFFFFF;
    box-shadow: 0px 0px 35px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    padding: 40px 25px !important;
}
.signup-form input[type="text"],
.signup-form input[type="password"]{
    font-size: 15px;
    border-bottom-color: rgb(0, 0, 0,.5) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border: 0;
    outline: none;
    padding: 10px 0;
    
}
#password,
#comfirm-password{
    padding-left: 22px !important;
}
.signup-form img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 15px;
    opacity: .8;
}
.signup-form .row{
    margin-bottom: 25px;
}
#uni-name,
#username,
#phone{
    width: 93%;
}
#user-fName,
#user-lName,
#password,
#comfirm-password{
    width: 85.5%;
}
.signup-btn-row{
    text-align: left;
}
#btn-signup{
    background: #EE537C;
    box-shadow: 0px 0px 7px #EE537C;
    border-radius: 25px;
    width: 150px;
    height: 45px;
    border: 0;
    outline: none;
    text-align: center;
    color: #fff;
}
#btn-signup:hover{
    background:#d84c71;
    color:#f6f6f6;
}
#btn-cancel{
    background: #eb927b;
    box-shadow: 0px 0px 7px #eb927b;
    border-radius: 25px;
    width: 150px;
    height: 45px;
    border: 0;
    outline: none;
    text-align: center;
    color: #fff;
}
#btn-cancel:hover{
    background:#e28c76;
    color:#f6f6f6;
}
.btns{
    margin-top: 60px;
}
.have-acount{
    width: 100%;
    text-align: center;
}
.have-acount a{
    text-decoration: none !important;
    outline: none !important;
    color: #363671 !important;
    font-size: 16px;
    font-weight: bold;

}
.show-pass1,
.hide-pass1,
.show-pass2,
.hide-pass2{
    width: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 5px;
    opacity: 1 !important;
    z-index: 1;
}
.hide-pass1,
.hide-pass2{
    display: none;
}
::placeholder {
    color: rgb(0, 0, 0,.5);
    opacity: 0.95; 
  }
  
:-ms-input-placeholder { 
    color: rgb(0, 0, 0,.5);
}
  
::-ms-input-placeholder { 
    color: rgb(0, 0, 0,.5);
}

input[type="text"]:focus,
input[type="password"]:focus{
    border-bottom-color:#EE537C !important;
}
.vector{
    padding-top: 60px;
    text-align: center;
}
.vector img{
    width: 100%;
}
@media(min-width:1300px){
    .signup-container .main-row{
        padding:0 4% !important;
    }
}
@media(min-width:1400px){
    .signup-container .main-row{
        padding:0 6% !important;
        padding-top:2% !important;
    }
}
@media(min-width:1600px){
    .signup-container .main-row{
        padding:0 8% !important;
        padding-top:3% !important;
    }
}
@media(min-width:1700px){
    .signup-container .main-row{
        padding:0 9% !important;
        padding-top:4% !important;
    }
}
@media(min-width:1800px){
    .signup-container .main-row{
        padding:0 12% !important;
        padding-top:5% !important;
    }
}
@media(min-width:2000px){
    .signup-container .main-row{
        padding:0 15% !important;
        padding-top:7% !important;
    }
}
@media(min-width:1200px){
    .signup-container .main-row{
        padding:0 20px;
    }
}
@media(max-width:1199px){
    #user-fName,
    #user-lName,
    #password,
    #comfirm-password,
    #uni-name,
    #username,
    #phone{
        width: 95%;
    }
    #comfirm-password,
    #user-lName{
        margin-top:15px;
    }
    .signup-form .row{
        margin-bottom:15px;
    }
    .show-pass2,
    .hide-pass2{
        top: 15px;
    }
    .btns .col-xl-6{
        text-align: center !important;
    }
    .signup-btn-row{
        margin-bottom: 15px;
    }
    .btns input{
        width: 50% !important;
    }
    .signup-container .row{
        justify-content: center;
    }
}

@media(max-width:1199px){
    #user-fName,
    #user-lName,
    #password,
    #comfirm-password,
    #uni-name,
    #username,
    #phone{
        width: 92%;
    }
    
}
@media(max-width:575px){
    #user-fName,
    #user-lName,
    #password,
    #comfirm-password,
    #uni-name,
    #username,
    #phone{
        width: 90%;
    }
    .signup-container{
        padding: 30px 50px !important;
    }
}
@media(max-width:463px){
    #user-fName,
    #user-lName,
    #password,
    #comfirm-password,
    #uni-name,
    #username,
    #phone{
        width: 88%;
    }
    .signup-container{
        padding: 20px 35px !important;
    }
    .btns input{
        width: 60% !important;
    }
}
@media(max-width:376px){
    #user-fName,
    #user-lName,
    #password,
    #comfirm-password,
    #uni-name,
    #username,
    #phone{
        width: 86%;
    }
    
}
@media(max-width:335px){
    #user-fName,
    #user-lName,
    #password,
    #comfirm-password,
    #uni-name,
    #username,
    #phone{
        width: 84%;
    }
    
}