@font-face {
    font-family: FirstFont;
    src:url(../font/Vazir-Medium.woff2) format('woff2');
    src:url(../font/Vazir-Medium-FD-WOL.woff2) format('woff2');
  }
* {
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    text-align: right;
    text-decoration:none;
}
html body {
    direction: rtl;
    font-family:FirstFont;
    text-align: center;
    background: linear-gradient(260.06deg, #363671 12.33%, #3E5196 57.46%);
    height: 100vh;
    
}

ul li{
    display: inline-block;
    list-style: none;
}
.signup-form{
    background: #FFFFFF;
    box-shadow: 0px 0px 35px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 50px;
    width: 100%;
    padding: 40px 25px !important;
}
.signup-form input[type="text"],
.signup-form input[type="password"]{
    font-size: 15px;
    border-bottom-color: rgb(0, 0, 0,.5) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border: 0;
    outline: none;
    padding: 10px 0;

}

.signup-form img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 15px;
}
.signup-form .row{
    margin-bottom: 25px;
}
#uni-name,
#username,
#phone{
    width: 94%;
}
#user-fName,
#user-lName,
#password,
#comfirm-password{
    width: 87.5%;
}
::placeholder {
    color: rgb(0, 0, 0,.5);
    /* opacity: 0.95;  */
  }
  
:-ms-input-placeholder { 
    color: rgb(0, 0, 0,.5);
}
  
::-ms-input-placeholder { 
    color: rgb(0, 0, 0,.5);
}