.table thead th {
    color: rgb(0,0,0,.5);
    font-size: 15px;
}
.table td{
    font-size: 15px;
}



.add-new-file{
    width: 140px;
    outline: none;
    margin-bottom: 20px;
    border: 0;
    text-align: center;
    color: #FFFFFF;
    background: #EE537C;
    border-radius: 25px;
    height: 40px;
    font-size: 14px;
    margin-right: 15px;
}
.add-new-file:hover{
    background:#d84c71 !important;
    color:#f6f6f6 !important;
}
.cancel{
    padding-top: 10px;
    border-radius: 10px !important;
    width: 100px !important;
    cursor: pointer;
}
.prev-step-btn,
.next-step-btn{
    background-color: #777;
    color: #fff;
    height: 40px;
    padding-top: 8px;
    border-radius: 10px;
    height: 40px;
    font-size: 14px;
    width: 120px;
    text-align: center;
    cursor: pointer;
}
.prev-step-btn ul,
.next-step-btn ul{
    text-align: center;
}
.next-step-btn{
    background-color: #60d965 !important;
}
.btns-ul{
    text-align: center;
    margin-top: 30px;
}
.delete-test{
    cursor: pointer;
}

.delete-file-modal{
    padding: 30px;
    text-align: center;
}
.delete-file-modal p{
    text-align: center;
    margin-top: 10px;
}
.delete-from-list{
    width:100px;
    outline: none;
    margin: 15px 0;
    border: 0;
    text-align: center;
    color: #FFFFFF;
    background: #3E5196;
    border-radius: 25px;
    height: 35px;
    font-size: 14px;
}
.not-delete{
    width:100px;
    outline: none;
    margin: 15px 0;
    border: 1px solid #3E5196;
    text-align: center;
    color: #3E5196;
    background: #fff;
    border-radius: 25px;
    height: 35px;
    font-size: 14px;
}

.upload-quiz-file input[type="text"],
#file-type,
#file-show-time{
    border-radius: 25px;
    width: 250px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    padding: 3px 15px;
}
#file-type{
    width: 100%;
    padding-left: 15px;
    background-color: rgba(62, 81, 150, 0.05);
    margin-bottom: 30px;
}
.upload-quiz-file input[type="text"]:focus{
    border: 1px solid #3E5196;
}
.upload-quiz-file input[type="text"]{
    width: 100% !important;
}